body {
    background-image: linear-gradient(to right, #cfd8db, rgb(167, 181, 105), rgb(132, 181, 105), rgb(55, 186, 186), rgb(105, 151, 181), #cfd8db);
    overflow: hidden;
}

h1 {
    position: absolute;
    font-weight: bold;
    font-size: x-large;
    font-family: 'Times New Roman';
    color: black;
    top: 50px;
    left: 0;
    right: 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.kotak {
    width: 250px;
    height: 250px;
    margin: 50px;
    background-color: brown;
    cursor: pointer;
    display: flex;
    float: left;
    transition: background-color 0.8s ease-in-out;
}